
        body {
            font-family: arial,sans-serif;
        }

        video {
            border: 1px solid #aaa;
            object-fit: initial;
            width:500px;
            height:500px;            
        }

        video.format-audio {
            height:400px;
        }

        ::cue {
            font-size:20px;
            color:white;
        }

        .warnings-container {
            display: none;
        }

        .warnings {
            color:darkred;
            background-color:white;
        }

        .transcript-container {
            display: none;
        }
        .transcript {
            width:80%;
            height:300px;
            overflow:auto;
            margin:auto;
        }

        nav {
            margin-top:1em;

        }

        input[type="button"],
        input[type="file"] {
            cursor: pointer;
        }

        nav select, nav input {
            font-size:1.25em;
        }

        .browser {
            display: none;
        }

        .preview {
            display: none;
        }

        .media-folder {
            width:200px;
        }

        #custom-fontsize {
            vertical-align: middle;
        }